<div class="ui center aligned grid huge header">
    <p>Compras Efetuadas</p>
</div>
<div class="ui divider"></div>
<!-- <div class="ui fluid container">
  <div class="ui green segment">
      <div class="ui list">
          <div class="item"><b>Local:</b> Big Master</div>
          <div class="item"><b>Data:</b> 14/07/2017</div>
          <div class="item"><b>Total:</b> R$ 102.60</div>
      </div>
  </div>
</div>-->

<div class="">
    <div class="ui centered cards">
        <div class="card">
            <div class="content">
                <div class="header">Big Master</div>
                <div class="description">
                    <b>Data:</b> 14/07/2017<br/>
                    <b>Total:</b> R$ 102.60
                </div>
            </div>
            <div class="ui bottom attached blue button">
                <i class="unhide icon"></i>
                Visualizar
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">Tropical Supermercados</div>
                <div class="description">
                    <b>Data:</b> 14/07/2017<br/>
                    <b>Total:</b> R$ 102.60
                </div>
            </div>
            <div class="ui bottom attached blue button">
                <i class="unhide icon"></i>
                Visualizar
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">Aurora Supermercado</div>
                <div class="description">
                    <b>Data:</b> 14/07/2017<br/>
                    <b>Total:</b> R$ 102.60
                </div>
            </div>
            <div class="ui bottom attached blue button">
                <i class="unhide icon"></i>
                Visualizar
            </div>
        </div>
    </div>
</div>