<div class="ui center aligned grid huge header">
    <p>Listas de Compras</p>
</div>
<div class="ui divider"></div>
<!-- <div class="ui fluid container">
  <div class="ui green segment">
      <div class="ui list">
          <div class="item"><b>Local:</b> Big Master</div>
          <div class="item"><b>Data:</b> 14/07/2017</div>
          <div class="item"><b>Total:</b> R$ 102.60</div>
      </div>
  </div>
</div>-->

<div class="">
    <div class="ui centered cards">
        <div class="card">
            <div class="content">
                <div class="header">Compra da Semana</div>
                <div class="description">
                    <b>Quantidade Itens:</b> 22<br/>
                    <b>Total Estimado:</b> R$ 102.60
                </div>
            </div>
            <div class="ui bottom attached orange button">
                <i class="add icon"></i>
                Add Item
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">Jantar de Quarta</div>
                <div class="description">
                    <b>Quantidade Itens:</b> 22<br/>
                    <b>Total Estimado:</b> R$ 102.60
                </div>
            </div>
            <div class="ui bottom attached orange button">
                <i class="add icon"></i>
                Add Item
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">Lista do Churrasco</div>
                <div class="description">
                    <b>Quantidade Itens:</b> 22<br/>
                    <b>Total Estimado:</b> R$ 102.60
                </div>
            </div>
            <div class="ui bottom attached orange button">
                <i class="add icon"></i>
                Add Item
            </div>
        </div>
    </div>
</div>