<div class="ui center aligned grid huge header">
    <p>Marcas</p>
</div>
<div class="ui divider"></div>
<div class="ui fluid container">
    <table class="ui unstackable table" >
        <thead>
        <tr>
            <th class="">Nome</th>
            <th></th>
            <th>
                <button id="modalShow" class="mini circular ui icon right floated blue button">
                    <i class="plus icon"></i>
                </button>
            </th>
        </tr>
        </thead>
        <tbody id="tableMarcas"></tbody>
    </table>
</div>

<!-- Modal -->
<script>$('body .modals').remove();</script>
<div class="ui modal">
    <div class="header"></div>
    <div class="content">
        <form class="ui form">
            <input type="text" placeholder="Nova Marca" id="inputNomeMarca">
        </form>
    </div>
    <div class="actions">
        <button class="small ui approve green button" id="gravar">Gravar</button>
        <button class="small ui approve blue button" id="alterar">Alterar</button>
        <button class="small ui cancel button">Sair</button>
    </div>
</div>
<script src="js/marcas.js"></script>